@model Capstone.ViewModels.ManageInvetoryViewModel
@using Capstone.ViewModels
@{
    ViewData["Title"] = "Return Product";
    List<ManageInvetoryViewModel> ListOfProduct = ViewBag.ListOfProduct;
}
<br />
<br />
<br />
<br />
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Select product</h1>
        <select id="Selection" asp-items="@(new SelectList(ListOfProduct,"Id","BaseName"))">
            <option value="" selection disabled >-- Select Product --</option>
        </select>
    </div>
</div>