@model Capstone.ViewModels.UserViewModel
@{
    var id = ViewBag.UserId;
    var result = ViewBag.Result;
    var currentpass = ViewBag.CurrentPassword;
}
<br />
<br />
<br />
<div class="container">
    <form asp-controller="Home" asp-action="ResetPassword">
        <table>
            <tr>
                <td>
                    Enter email you registered.
                </td>
                <td>
                    @if (result)
                    {
                        <p>
                        Email does not exist.
                        </p>
                    }
                    <input type="text" name="email" />
                </td>
              
            </tr>
            <tr>
                <button class="btn btn-primary float-right">Submit</button>
            </tr>
        </table>
    </form>
</div>